@model Futbolista

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Futbolista</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCompleto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCompleto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdadActual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdadActual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CamisetaNumero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CamisetaNumero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Club)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Club.NombreClub)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FutbolistaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
