@model IEnumerable<Futbolista>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EdadActual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CamisetaNumero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Club)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EdadActual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CamisetaNumero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Club.NombreClub)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FutbolistaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FutbolistaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FutbolistaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
